
<li class="border-bottom border-dark mt-2 px-1 pb-3">

    <div class="row mx-2 pb-1">
        <div class="col p-0">

            <div class="row justify-content-between m-0">
                <div class="col p-0">
                    <div class="text-card-title text-wrap">@ViewBag.Deal.nome</div>
                </div>
                
                <div class="col-1 ml-1 py-1">
                    <a class="nav-link p-0" asp-controller="Pipeline" asp-action="Pipeline" 
                       asp-route-id="@ViewBag.Deal.getId()" asp-route-act="deletar_deal">
                        <img class="btn-2" title="Remover Deal" src="~/images/del.png" />
                    </a>
                </div>
            </div>

            <div class="row justify-content-between mx-0">
                <div class="text-card">@ViewBag.Deal.abertura</div>

                <div class="text-card">@ViewBag.Deal.fechamento</div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-between mx-0">
        <div class="row align-items-center border-dark border-right pr-2 mx-0">
            <img title="imagem perfil" src="/images/logo-icon-1.png" class="perfil-icon mw-6 rounded-circle mx-2">
            <div class="border-right px-2">
                <div class="text-card-title">@ViewBag.Deal.cliente.nome</div>
                <div class="text-card">@ViewBag.Deal.cliente.GetEmp()</div>
            </div>
        </div>

        <div class="text-card mx-2">R$ @ViewBag.Deal.valor</div>

    </div>
</li>