@{
    ViewData["Title"] = "Pipeline";
}

<div class="position-sticky sticky-top">
    <div class="sidebar container nav-@ViewBag.Usuario.theme text-left rounded-right shadow-sm d-md-flex p-2">

        <ul class="nav flex-column flex-nowrap overflow-hidden">

            <li class="nav-item">
                <button class="nav-link btn btn-info btn-list bg-theme-@ViewBag.Usuario.theme text-theme-@ViewBag.Usuario.theme rounded border-@ViewBag.Usuario.theme"
                        href="#sidebar" data-toggle="collapse" data-target="#sidebar">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="image-full-navbar wh-25" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="image-mobile-navbar wh-15" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>

                </button>
            </li>

            <li>
                <div class="collapse sidebar-content " id="sidebar" aria-expanded="false">
                    <ul class="nav flex-column flex-nowrap">

                        <li class="nav-item mt-3">
                            <a class="nav-link text-theme-@ViewBag.Usuario.theme" asp-controller="Pipeline" asp-action="AddPipeline" asp-route-id="0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg>
                            </a>
                        </li>

                        @foreach (var pipe in ViewBag.TodasPipelines as List<IoniCRM.Controllers.Objects.Pipeline>)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-theme-@ViewBag.Usuario.theme align-middle p-1"
                                   asp-controller="Pipeline" asp-action="Pipeline" asp-route-id="@pipe.GetId()">

                                    @pipe.nome
                                </a>

                            </li>
                        }
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>

<div class="row w-100 pt-5 m-0">

    @foreach (var pipeline in ViewBag.Pipelines as List<IoniCRM.Controllers.Objects.Pipeline>)
    {
        <div class="nav-@ViewBag.Usuario.theme rounded row justify-content-between align-items-center w-100 pt-2 pb-3 px-3 m-3">
            <div class="mw-70p m-0">
                <h1 class="text-theme-@ViewBag.Usuario.theme m-0">@pipeline.nome</h1>
                <h6 class="subtext-theme-@ViewBag.Usuario.theme m-0">@pipeline.descr</h6>
            </div>

            <div class="row align-items-center m-0">
                <a class="nav-link text-theme-@ViewBag.Usuario.theme p-0 m-1" asp-controller="Deal" asp-action="Deal" asp-route-id="0" asp-route-pipe="@pipeline.GetId()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                </a>

                <a class="nav-link p-0 m-1" asp-controller="Pipeline" asp-action="AddPipeline" asp-route-id="@pipeline.GetId()">
                    <img class="btn-2" title="Configurar Pipeline" src="~/images/gear-fill.svg" />
                </a>

                <div class="border border-dark rounded-circle circle shadow w-25 p-1 m-1"
                     style="background-color:@ViewBag.CorPrioridade[pipeline.prioridade-1]">
                    <div class=" text-center borda-texto">
                        @pipeline.prioridade
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto m-0">
            @for (int x = 0; x < 5; x++)
            {
                <div class="mw-30 mx-auto mb-4 px-2">
                    <div class="container text-justify p-2 bg-card-@ViewBag.Usuario.theme rounded mh-100 mw-auto-content box-shadow">
                        <div class="row border-bottom border-dark mx-0">
                            <ul class="w-auto mb-2 px-1">
                                <li class="row align-items-center mx-1">
                                    <div class="flex-wrap my-auto mr-3 px-1">
                                        <h2 class="text-dark text-shadow">@ViewBag.estagio[x]</h2>
                                    </div>
                                </li>

                                <li class="row mx-1">
                                    <div class="d-inline flex-wrap text-card-title text-muted pl-1 pr-3">
                                        @pipeline.GetTotalDeals(x) Deals
                                    </div>

                                    <div class="d-inline flex-wrap text-card-title text-muted pl-1">
                                        Total: R$ @pipeline.GetTotalValor(x)
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="row mx-0">
                            <ul class="nav flex-column">

                                @{ 
                                    foreach (var deal in pipeline.deals)
                                    {
                                        ViewBag.Deal = deal;
                                        ViewBag.Pipeline = pipeline;
                                        if (deal.estagio == x)
                                        {
                                            @Html.Partial("../Pipelines/card_deal");
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>