
<li class="border-bottom border-dark mt-2 px-1 pb-3">

    <div class="row mx-2 pb-1">
        <div class="col p-0">

            <div class="row m-0">
                <div class="col p-0">
                    <div class="text-card-title text-wrap">@ViewBag.Deal.nome</div>
                </div>

                <div class="col-1 ml-2 my-auto px-0">
                    <a class="nav-link text-secondary p-0" asp-controller="Deal" asp-action="Deal"
                       asp-route-id="@ViewBag.Deal.getId()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="btn-2" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </a>
                </div>

                <div class="col-1 ml-3 my-auto px-0">
                    <a class="nav-link text-danger p-0" asp-controller="Pipeline" asp-action="DelDeal" asp-route-id="@ViewBag.Deal.getId()"
                       asp-route-nome="@ViewBag.Deal.nome" asp-route-pipe="@ViewBag.Pipeline.nome">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row justify-content-between mx-0">
                <div class="text-card">@ViewBag.Deal.abertura</div>
                <h5 class="text-dark my-0 mx-1">></h5>
                <div class="text-card">@ViewBag.Deal.fechamento</div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-between mx-0">
        <div class="row align-items-center pr-2 mx-0">
            
            <img title="imagem perfil" src="@ViewBag.Deal.cliente.img" class="perfil-icon mw-6 rounded-circle mx-2">
            
            <div class="border-right border-dark px-2">
                <div class="text-card-title">@ViewBag.Deal.cliente.nome</div>
                <div class="text-card">@ViewBag.Deal.cliente.GetEmp()</div>
            </div>
        </div>

        <div class="text-card mx-2">R$ @ViewBag.Deal.valor</div>

    </div>
</li>