@{
    ViewData["Title"] = "Login";
}

<div class="container text-center w-75 mw-70p mt-5 p-0">
    <img src="~/images/logo-1.png" title="main-logo" class="main-logo mt-4 mb-3" />

    <section>
        @using (Html.BeginForm("MakeLogin", "Login", FormMethod.Post))
        {
            <div class="form-group container w-75 pt-3 px-0">
                <div class="text-left mb-3">
                    <h2 class="my-1">
                        <label for="emailTextBox" class="borda-texto m-0"> E-mail</label>
                    </h2>
                    <input id="emailTextBox" class="form-control rounded m-0" type="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" value="@ViewData["email"]" />
                    @{
                        if (ViewData["emailNotInformed"] != null)
                        {
                            <small id="emailHelp" class="form-text text-warning font-weight-bold w-auto ml-2">@ViewData["emailNotInformed"]</small>
                        }
                    }


                    <h2 class="mt-2 mb-1">
                        <label for="senhaTextBox" class="borda-texto m-0">Senha</label>
                    </h2>
                    <input id="senhaTextBox" class="form-control rounded" type="password" name="senha" aria-describedby="passHelp" placeholder="Password" value="@ViewData["senha"]" />
                    @{
                        if (ViewData["passNotInformed"] != null)
                        {
                            <small id="passHelp" class="form-text text-warning font-weight-bold w-auto ml-2">@ViewData["passNotInformed"]</small>
                        }
                    }
                </div>
                <button type="submit" class="btn btn-secondary rounded-pill border-dark shadow">
                    <h4 class="borda-texto m-1">Login</h4>
                </button>
                @{
                    if (ViewData["emailOrPassWrong"] != null)
                    {
                        <small id="passHelp" class="form-text text-danger font-weight-bold w-auto ml-2">@ViewData["emailOrPassWrong"]</small>
                    }
                }
            </div>
        }
    </section>
</div>